<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @data_storage_development.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @data_storage_development.content %>
</p>

<p>
  <strong>Url:</strong>
  <%= @data_storage_development.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @data_storage_development.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @data_storage_development.url %>
</p>

<p>
  <strong>Url to image:</strong>
  <%= @data_storage_development.url_to_image %>
</p>

<p>
  <strong>Author:</strong>
  <%= @data_storage_development.author %>
</p>

<%= link_to 'Edit', edit_data_storage_development_path(@data_storage_development) %> |
<%= link_to 'Back', data_storage_developments_path %>
